// ? IMPORTS
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:ital,wght@0,300;0,600;0,700;1,300;1,400;1,500&display=swap");

// ? MAIN
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

// ? FONTS
$lato: "Lato", sans-serif;
$monts: "Montserrat", sans-serif;

// ? COLOR
$button: #8fb996;
$brown: #cdac89;
$Headings-Icons: #819667;
$highlight: #ea5559;
$overlay: rgba(129, 150, 103, 0.8);
$background: #faf6eb;
$font: #505168;

// ? FONTS
h1 {
  font-family: $monts;
  color: white;
  font-weight: 600;
  font-size: 38px;
  margin: 0px;
}

h2 {
  font-family: $monts;
  color: $font;
  font-weight: 600;
  font-size: 26px;
  margin: 0px;
}

h3 {
  font-family: $monts;
  color: white;
  font-weight: 600;
  font-size: 20px;
  margin: 0px;
  letter-spacing: 1px;
}

h4 {
  font-family: $monts;
  color: $font;
  font-weight: 300;
  font-size: 16px;
  margin: 0px;
  letter-spacing: 1px;
}

h5 {
  font-family: $monts;
  color: $font;
  font-weight: 300;
  font-size: 12px;
  font-style: italic;
  margin: 0px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

h6 {
  font-family: $monts;
  color: $font;
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
  margin: 0px;
}

p {
  font-family: $lato;
  color: $font;
  font-weight: 400;
  font-size: 16px;
  margin: 0px;
}

// ? GLOBAL
body {
  margin: 0px;
  background-color: $background;
}

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

a,
a:visited,
a:hover,
a:active {
  color: transparent;
}

// ? NAV
nav {
  font-family: $monts;
  position: absolute;
  top: 0;
}

.nav-button img {
  position: absolute;
  top: 50px;
  left: 30px;
}

/* The side navigation menu */
.logo {
  width: 240px;
  padding: 30px 0px 30px 40px;
}
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 10; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: $background;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: $Headings-Icons;
  display: block;
  transition: 0.3s;

  .logout {
    color: white
  }
}

.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;

  img {
    margin-right: 15px;
  }
}

/* Mouse over the navigation links, change their color */
.sidenav a:hover {
  color: $font;
}

.nav-button a:hover {
  color: $font;
}

/* Position and style the close button */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.nav-div-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 40px;
  right: 0;
  left: 0;
}

/* Height is less than 450px */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

// ? HOME
.cover {
  background: linear-gradient($overlay, $overlay), url("/images/BG-1.jpg");
  background-size: cover;
  height: 200px;
  width: 100%;

  h1 {
    position: absolute;
    top: 90px;
    left: 30px;
  }
}

.content {
  border-radius: 30px;
  background-color: white;
  position: absolute;
  top: 170px;
  width: 100%;
  min-width: 375px;
  max-width: 700px;
  box-shadow: 0 21px 80px 0 rgba(80, 92, 66, 0.4);
}

.margin {
  margin: 30px 30px 30px 30px;
}

hr {
  position: static;
  margin: 35px 0px 0px 0px;
  height: 2px;
  background-color: rgba(129, 150, 103, 0.3);
  border: 0px;
}

.hr-less-space {
  margin: 20px 0px 0px 0px;
}

// ! **** KEEP ORDER
.header-title {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  img {
    width: 32px;
    height: 32px;
  }
}

.extra-space {
  margin-top: 20px;
}
// ! **** KEEP ORDER

.header-icon {
  display: flex;
  flex-direction: row;
  align-items: center;

  h6 {
    margin-left: 10px;
  }
}

.status {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;

  h1 {
    font-weight: 700;
    color: rgba(80, 81, 104, 0.8);
    font-size: 25px;
    margin: 0px;
  }

  h5 {
    margin-top: 5px;
  }

  div:first-child {
    margin-right: 10px;
  }

  div:last-child {
    margin-left: 10px;
  }
}

.list {
  margin-top: 30px;
}

.list-item {
  height: 120px;
  border-radius: 10px;
  border-bottom-left-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;

  img {
    margin-left: 30px;
  }

  h3 {
    margin-right: 30px;
  }
}

#home-profile {
  background: linear-gradient($overlay, $overlay), url("/images/BG-2.jpg");
  background-size: cover;
  background-position: center;
}

#home-search {
  background: linear-gradient($overlay, $overlay), url("/images/BG-3.jpg");
  background-size: cover;
  background-position: center;
}

#home-map {
  background: linear-gradient($overlay, $overlay), url("/images/BG-4.jpg");
  background-size: cover;
  background-position: center;
}

#home-ferngram {
  background: linear-gradient($overlay, $overlay), url("/images/BG-5.jpg");
  background-size: cover;
  background-position: bottom;
}

#home-pinboard {
  background: linear-gradient($overlay, $overlay), url("/images/BG-6.jpg");
  background-size: cover;
  background-position: center;
}

// ? ADD PLANT
.radio-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

// * TARGETS 'DEER' RADIO
.radio-buttons > :first-child {
  margin-right: 20px;
}

.plant-type {
  font-family: $monts;
  font-size: 16px;
}

.bio {
  margin: 20px 0px 30px 0px;
}

// * TARGETS 'H5' 'SYNONYM'
.bio > :first-child {
  margin-bottom: 10px;
}

textarea {
  outline: none;
  resize: none;
  overflow: auto;
  padding: 20px;
}

select {
  padding: 10px;
}

// ? Plant search
.search-cover {
  background: linear-gradient($overlay, $overlay), url("/images/BG-1.jpg");
  background-size: cover;
  height: 370px;
  width: 100%;
  border-radius: 30px;

  h1 {
    position: absolute;
    top: 90px;
    left: 30px;
  }
  .search-button {
    height: 20px;
    width: 20px;
  }

  input {
    color: white;
    border: 0px solid
  }

  input::placeholder {
    font-family: $monts;
    color: white;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
    opacity: 1;
  }
}

#content-search {
  top: 300px;
  background-color: white;
  height: 70vh;
  overflow: scroll;
}

.new-flex {
  display: flex;
  flex-direction: column;
}

.search-bar {
  height: 47px;
  width: -webkit-fill-available;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.3);
  border: hidden;
  position: absolute;
  top: 215px;
  left: 0;
  right: 0;
  margin-right: 30px;
  margin-left: 30px;
}

.fade {
  position: fixed;
  top: 300px;
  min-width: 375px;
  max-width: 700px;
  height: 100px;
  background-image: linear-gradient(180deg, #FFFFFF 0%, rgba(255,255,255,0.00) 100%);
  z-index: 3;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  margin-right: auto;
  margin-left: auto;
  right: 0;
  left: 0;
}

#search-profile {
  background-size: cover;
  background-position: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;

  h3 {
    margin-bottom: 10px;
  }

  h4 {
    color: white;
    margin-right: 30px;
  }
}

// ? REGISTER
#register {
  min-width: 375px;
  max-width: 600px;
}

.input {
  background-color: $background;
  border-radius: 10px;
  border: 0px;
  width: 100%;
  height: 55px;
  margin: 10px 0px 30px 0px;
}

.input::placeholder {
  font-family: $monts;
  color: $font;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
  opacity: 0.5;
}

input:focus {
  border: 0;
  opacity: 1;
}

input {
  border: none;
  font-family: $monts;
  color: $font;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
  padding-left: 16px;
}

.form-section {
  min-width: 100%;
  max-width: 540px;
}

.plant-title {
  margin-top: 5px
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.top-space {
  margin-top: 10px
}
.errorMessages{
  margin-top: -20px;
  margin-bottom: 20px;
  
}

// ? PLANT PROFILE
.profile-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: $background;
  border-radius: 10px;
  height: 64px;

  img {
    margin: 0px 20px 0px 20px;
  }

  h4 {
    color: $Headings-Icons;
  }
}

.add-space {
  margin-top: 30px;
}

.care-notes {
  margin: 30px 0px 30px 0px;
  h4 {
    margin-bottom: 5px;
  }
}

// ? BUTTONS
.button-green {
  background: $button;
  box-shadow: -4px 5px 60px 0 rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  min-width: 100%;
  max-width: 540px;
  border: 0px;
  height: 50px;
  font-family: $monts;
  font-weight: 400;
  font-size: 12px;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: white;


}

.button-red {
  background-color: $highlight;
  box-shadow: none;
  margin-top: 20px;
}

.button-brown {
  margin-top: 20px;
  background-color: $brown;
  box-shadow: none;
}

.button-nav {
  min-width: 250px;
  max-width: 250px;
  margin-right: 20px;
}

// ! DON'T MOVE ORDER OF .BUTTON-RADIO
// ! AND .ACTIVE
.button-radio {
  height: 80px;
  min-width: 150px;
  max-width: 310px;
  border: none;
  background: #faf6eb;
  border-radius: 10px;
  font-family: $monts;
  color: $Headings-Icons;
  font-weight: 300;
  font-size: 16px;
  margin: 0px;
  letter-spacing: 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;

  img {
    margin-right: 5px;
  }
}

.active {
  background-color: $button;
  color: white;
}
// ! *****

// ? User Profile
.button-addPlant {
  background: $brown;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// PLANT-SITTER ***************************
.messageBoard {
  border: 3px solid rgba(243, 238, 238, 0.954);
  margin: 30px;
  padding: 40px;
}

.comments {
  border: 3px solid lightblue;
  margin: 10px;
  padding: 20px;

}
.messageBox {

    border: 1px solid rgba(243, 238, 238, 0.954);
    margin: 30px;
    padding: 40px;
  }

// ? ANIMATION
.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
  }
  @keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  .deleteButton{
   text-align: right;
  }

  .updateButton{
    text-align: right;
    margin: 10px;
  }
// ****************************************************

// ! FERNGRAM

.post-item {
  border-radius: 10px;
  border-bottom-left-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin-bottom: 10px;
  h2 {
    color: #819667;
    margin: 5px;
  }
}

.social-item {
  border-radius: 10px;
  border-bottom-left-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin-bottom: 10px;
  h2 {
    color: #819667;
    margin: 5px;
    
  }

  .title{
    width: 80%;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h3 {
      color:#678258;
    }

    h4 {
      color: #678262;
    }

  }
  
}

.social-feed {
  width: 600px;
}
// ? 
.marker {
  background-image: url('../images/round-flower-white.svg');
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
